<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKUfAzfLl7sKlNHYkv-hJXs3ErADB64z8</string>
	<key>GCM_SENDER_ID</key>
	<string>212671425298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartHomeControl</string>
	<key>PROJECT_ID</key>
	<string>smart-home-2bc83</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-home-2bc83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212671425298:ios:3059c98b2e44fce17b61cb</string>
	<key>DATABASE_URL</key>
	<string>https://smart-home-2bc83-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>